body {
    font-family: 'Comfortaa';
    font-weight: 1;
}

#site {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

#answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-answer {
    font-size: 200px;
    text-align: center;
}

#sub-answer {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

#more {
    align-items: flex-end;
    text-decoration: none;
    color: grey;
    position: absolute;
    bottom: 2em;
}

#more a {
    text-decoration: none;
    color: grey;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: start;
}

/* Media query for devices with width less than or equal to 600px (generally smartphones) */
@media only screen and (max-width: 600px) {
    .title {
        width: 100%;
        text-align: center;
    }
}