.title {
    font-family: 'Comfortaa';
    font-weight: 1;
    font-size: 30px;
    line-height: 5px;
    text-align: left;
}

.menu-bar {
    width: 100%;
    /* Change this to your preferred color */
    border-bottom: 1px solid #888;
    /* This creates the grey line */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
/* Media query for devices with width less than or equal to 600px (generally smartphones) */
@media only screen and (max-width: 600px) {
    .title {
        width: 100%;
        text-align: center;
    }
}